* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ol li,
ul li {
  list-style: none;
}
body {
  background: linear-gradient(to bottom, #999, #000);
  background-repeat: no-repeat;
  min-height: 1050px;
}
/* 网页头部 */
.head {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: black;
}
.head h1 {
  text-align: center;
  color: white;
}
.head .logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 80px;
  /* 警惕塌陷margin-top */
}
.head .logo h1 {
  margin-top: 0;
}
.head .logo a {
  display: block;
  height: 80px;
  background-image: url(assets/img/dbd-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  font-size: 0;
}
/* 导航栏 */
.nav {
  background-color: pink;
}
.nav ul {
  display: flex;
  justify-content: space-around;
  height: 100px;
}
.nav ul li {
  background-color: #ccc;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-family: '幼圆';
  font-weight: 600;
  cursor: pointer;
  /* li 活动状态 */
}
.nav ul li:hover {
  background-color: #c2c0c0;
}
.nav ul li.active {
  color: red;
}
/* 网页身体：逃生者、杀手、逃生者技能、杀手技能 */
.body {
  padding: 30px;
}
.body .content {
  background-color: white;
  width: 100%;
  min-height: 600px;
  border-radius: 15px;
  opacity: 0.9;
  /* 内容-逃生者页面 */
  /* 内容-杀手页面 */
  /* 内容-逃生者技能页面 */
}
.body .content .survivor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  font-weight: 500;
}
.body .content .survivor .survivor-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 160px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;
}
.body .content .survivor .survivor-avatar:hover {
  background-color: #ccc;
}
.body .content .survivor .survivor-avatar img {
  width: 70%;
  border-radius: 50%;
  border: 5px solid skyblue;
}
.body .content .killer {
  display: flex;
  width: 100%;
  height: 2700px;
  font-family: '幼圆';
  font-weight: 700;
  font-size: 18px;
  /* 左边梯队 */
  /* 右边角色 */
}
.body .content .killer .left {
  flex: 1;
  height: 2700px;
  background-color: pink;
}
.body .content .killer .left ul {
  display: flex;
  flex-direction: column;
  height: 2700px;
}
.body .content .killer .left ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.body .content .killer .left ul li:nth-child(1) {
  background-color: red;
}
.body .content .killer .left ul li:nth-child(2) {
  background-color: #ff4d00;
}
.body .content .killer .left ul li:nth-child(3) {
  background-color: #ffa600;
}
.body .content .killer .left ul li:nth-child(4) {
  background-color: #ffee00;
}
.body .content .killer .left ul li:nth-child(5) {
  background-color: #ffff00;
}
.body .content .killer .left ul li:nth-child(6) {
  background-color: #91ff00;
}
.body .content .killer .left ul li:nth-child(7) {
  background-color: #51ff00;
}
.body .content .killer .left ul li:nth-child(8) {
  background-color: #00ffff;
}
.body .content .killer .left ul li:nth-child(9) {
  background-color: #00c8ff;
}
.body .content .killer .left ul li span {
  text-align: center;
}
.body .content .killer .right {
  flex: 9;
  height: 2700px;
}
.body .content .killer .right ul {
  display: flex;
  flex-direction: column;
  height: 2700px;
}
.body .content .killer .right ul li {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-content: flex-start;
  /* 杀手头像 */
}
.body .content .killer .right ul li .killer-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  font-size: 16px;
  transition: all 0.5s;
  cursor: pointer;
}
.body .content .killer .right ul li .killer-avatar:hover {
  background-color: #ccc;
}
.body .content .killer .right ul li .killer-avatar img {
  width: 80%;
  border-radius: 50%;
  border: 5px solid red;
}
.body .content .survivor-skills {
  /* 搜索区 */
}
.body .content .survivor-skills .search {
  padding: 20px 0;
  position: relative;
  display: flex;
  justify-content: right;
  /* 搜索栏 */
}
.body .content .survivor-skills .search input {
  width: 300px;
  height: 50px;
  outline: 0;
  border: 5px solid #ccc;
  background-color: transparent;
  font-size: 22px;
  border-radius: 15px;
}
.body .content .survivor-skills .search .btn-search {
  position: absolute;
  top: 20px;
  right: 0;
  width: 80px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #0f60d1;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}
.body .content .survivor-skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.body .content .survivor-skills ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 250px;
}
.body .content .survivor-skills ul li img {
  width: 80%;
  background: linear-gradient(to bottom, #9a0597, #5c094a);
  border-radius: 50%;
  border: 5px solid #000000;
  cursor: pointer;
}
.body .content .survivor-skills ul li img:hover {
  background: linear-gradient(to bottom, #999, #000);
}
.body .content .survivor-skills ul li span {
  font-weight: 600;
}
/* 模态框 */
.model {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  border-radius: 25px;
  border: 5px solid #ccc;
  width: 90%;
  min-height: 95%;
  max-height: 100%;
  /* margin-left: -265px;
      margin-top: -127px; */
  transform: translate(-50%, -50%);
  background: linear-gradient(to bottom, #999, #000);
  color: white;
  /* 模态框关闭按钮 */
  /* 模态框头部 */
  /* 模态框身体 */
}
.model.hidden {
  display: none;
}
.model .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 56px;
  text-align: center;
  color: #ccc;
  border-radius: 25px;
  cursor: pointer;
  /* background-color: skyblue; */
}
.model .close:hover {
  background-color: #999;
}
.model .model-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 模态框头部头像 */
}
.model .model-header h1 {
  height: 50px;
  line-height: 50px;
}
.model .model-header .avatar {
  width: 200px;
  height: 200px;
  /* background-color: skyblue; */
  border-radius: 50%;
  border: 5px solid orange;
  /* 模态框头部图片 */
}
.model .model-header .avatar img {
  width: 100%;
  border-radius: 50%;
}
.model .model-body {
  flex: 1;
  padding: 10px;
  /* background-color: skyblue; */
}
.model .model-body .introduce {
  display: flex;
  /* background-color: pink; */
}
.model .model-body .introduce .key {
  flex: 1;
}
.model .model-body .introduce .key p {
  height: 50px;
  font-size: 22px;
}
.model .model-body .introduce .value {
  flex: 4;
}
.model .model-body .introduce .value p {
  height: 50px;
  font-size: 22px;
}
/* 媒体查询 */
@media (max-width: 1200px) {
  /* 网页身体 */
  .body .content {
    /* 内容-逃生者页面 */
  }
  .body .content .survivor .survivor-avatar {
    height: 140px;
    width: 140px;
  }
  .body .content .survivor .survivor-avatar img {
    border: 4px solid skyblue;
  }
  .body .content .survivor .survivor-avatar span {
    font-size: 15px;
  }
  .body .content .killer .right ul li {
    /* 杀手头像 */
  }
  .body .content .killer .right ul li .killer-avatar {
    width: 130px;
    height: 130px;
    font-size: 14px;
    cursor: pointer;
  }
  .body .content .killer .right ul li .killer-avatar img {
    border: 4px solid red;
  }
  /* 模态框 */
  .model .model-header {
    /* 模态框头部头像 */
  }
  .model .model-header h1 {
    height: 40px;
    line-height: 40px;
  }
  .model .model-header .avatar {
    width: 180px;
    height: 180px;
  }
  .model .model-body .introduce .key p {
    font-size: 20px;
  }
  .model .model-body .introduce .value p {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  /* 网页身体 */
  .body .content {
    /* 内容-逃生者页面 */
  }
  .body .content .survivor .survivor-avatar {
    height: 120px;
    width: 120px;
  }
  .body .content .survivor .survivor-avatar img {
    border: 3px solid skyblue;
  }
  .body .content .survivor .survivor-avatar span {
    font-size: 14px;
  }
  .body .content .killer .right ul li {
    /* 杀手头像 */
  }
  .body .content .killer .right ul li .killer-avatar {
    width: 100px;
    height: 100px;
    font-size: 14px;
    cursor: pointer;
  }
  .body .content .killer .right ul li .killer-avatar img {
    border: 3px solid red;
  }
  /* 模态框 */
  .model .model-header {
    /* 模态框头部头像 */
  }
  .model .model-header h1 {
    height: 35px;
    line-height: 35px;
    font-size: 22px;
  }
  .model .model-header .avatar {
    width: 160px;
    height: 160px;
  }
  .model .model-body .introduce .key p {
    font-size: 18px;
  }
  .model .model-body .introduce .value p {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  /* 网页身体 */
  .body .content {
    /* 内容-逃生者页面 */
  }
  .body .content .survivor .survivor-avatar {
    height: 100px;
    width: 100px;
  }
  .body .content .survivor .survivor-avatar img {
    border: 3px solid skyblue;
  }
  .body .content .survivor .survivor-avatar span {
    font-size: 10px;
  }
  .body .content .killer .right ul li {
    /* 杀手头像 */
  }
  .body .content .killer .right ul li .killer-avatar {
    width: 75px;
    height: 75px;
    font-size: 12px;
    cursor: pointer;
  }
  .body .content .killer .right ul li .killer-avatar img {
    border: 2px solid red;
  }
  /* 模态框 */
  .model .model-header {
    /* 模态框头部头像 */
  }
  .model .model-header h1 {
    height: 30px;
    line-height: 30px;
    font-size: 18px;
  }
  .model .model-header .avatar {
    width: 140px;
    height: 140px;
  }
  .model .model-body .introduce .key p {
    font-size: 12px;
    height: 40px;
  }
  .model .model-body .introduce .value p {
    font-size: 12px;
    height: 40px;
  }
}
